*{
    margin: 0px;
    padding: 0px;
}
#out{
    border: solid 1px;
    height: 650px;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: 1360px 650px;
}
h1{
    color:navajowhite;
    font-size: 100px;
    margin-top: 40px;
    margin-left: 150px;
    font-style: italic; 
}
#register,#login{
    height: 40px;
    width: 120px;
    background-color:navajowhite;
}
#register{
    margin-left: 160px;
}
#register a,#login a{
    color:blueviolet;
    font-size: 18px;
    text-decoration: none;
}
#register:hover{
    background-color:rgb(236, 205, 26);
}
#login:hover{
    background-color: rgb(240, 205, 11);
}